@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(14, 14, 14);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(80, 80, 80);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  background: rgb(14, 14, 14);
  color: white;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.animate-open-modal {
  animation: open-modal 0.2s ease;
}

@keyframes open-modal {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}